*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;    
}

h1, .section-header{
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

.row{
    margin: 0 10px 0 10px;
}
section{ 
    float: left;
}
.content {
    margin: 10px;
    background-color: #F1F3F4;
    border: 3px solid #B4B4B4;
    padding: 15px;
    padding-top: 55px;
    position: relative;
}

p {   
    position: absolute;
    top: -3px;
    right: -3px;
    border: 3px solid #B4B4B4;
    padding: 10px; 
    width: 160px;
    text-align: center;    
}

#header1{
    background-color: #FDA6FD;
}

#header2{
    background-color: #FD66AA;
    color: #ffffff;
}

#header3{
    background-color: #FFE84F;
}

@media (max-width: 767px){
    .col-sm-12{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
}

@media (min-width: 992px){
    .col-lg-4{
        width: 33.33%;
    }
}